NEXT_PUBLIC_SUPABASE_URL=https://ngcfncglbrwhtjdvlhbm.supabase.co
SUPABASE_URL=https://ngcfncglbrwhtjdvlhbm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_4HhI34Dliz6jjQpUF5nyhQ_U5Itq-Q8
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_4HhI34Dliz6jjQpUF5nyhQ_U5Itq-Q8
SUPABASE_PUBLISHABLE_KEY=sb_publishable_4HhI34Dliz6jjQpUF5nyhQ_U5Itq-Q8
SUPABASE_SECRET_KEY=your_supabase_secret_key_here
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key_here
SUPABASE_JWKS_URL=https://ngcfncglbrwhtjdvlhbm.supabase.co/auth/v1/.well-known/jwks.json
SENTRY_AUTH_TOKEN=your_sentry_auth_token_here
NEXT_PUBLIC_SENTRY_DSN=https://609c4584a9ccbb231fb13fb886b92b7d@o4511859034882048.ingest.de.sentry.io/4511859038224464
